* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.container {
    background-color: transparent;
    width: 90%;
    height: 90%;
}

header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: transparent;
}

header .header-title {
  width: 200px;
  height: 60px;
  padding: 8px 48px 8px 8px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 0 48px 0 0;
}

header .header-title::after {
  content: "";
  position: absolute;
  left: -150px;
  top: 0;
  width: 150px;
  height: 60px;
  background-color: white;

  /* curva arredondada no lado esquerdo */
  clip-path: path("M0,60 C90,50 75,0 155,-1 L152,62 Z");
}

header .header-title .title {
  padding: 0 20px;
  height: 100%;
  display: flex;
  align-items: center;   /* centro vertical */
  justify-content: center; /* centro horizontal */
}

header .header-title .title p, span {
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #007a2b;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

header .header-title .title span {
    color: red;
}

header .header-content {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 12px;
    padding: 12px;
    padding-right: 150px;
}

header .header-content .header-item {
    padding: 24px 8px;
    background: white;
    border-radius: 48px;
    display: flex;
    gap: 8px;
    align-items: center;
    box-shadow: 5px -5px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    border: none;
}

header .header-content .header-item:hover {
    transform: scale(1.02);
    transition: all 0.2s;
}

header .header-content .header-item i {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: rgba(128, 128, 128, 0.615);
}

header .header-content .header-item p {
    width: 200px;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.red {
    background-color: oklch(88.5% 0.062 18.334) !important;
    color: oklch(63.7% 0.237 25.331);
}

.yellow {
    background-color: oklch(94.5% 0.129 101.54) !important;
    color: oklch(79.5% 0.184 86.047);
}

.green {
    background-color: oklch(87.1% 0.15 154.449) !important;
    color: oklch(72.3% 0.219 149.579);
}

main {
    width: 100%;
    height: calc(100% - 60px);
    background-color: white;
    border-radius: 48px 0 48px 48px;
    padding: 38px 48px;
    box-shadow: -8px -8px 16px rgba(0, 0, 0, 0.2),
                8px 8px 16px rgba(0, 0, 0, 0.2);
}

body {
    background: linear-gradient(135deg, #68df58, #007a2b, #68df58, #007a2b);
    background-size: 400% 400%;
    background-attachment: fixed;
    animation: rotateBackground 5s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes rotateBackground {
    0% {
        background-position: 0% 50%;
    }
    66% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}